<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dental Appointment | iHealth Appointment History</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description">
    <meta content="Coderthemes" name="author">
   <!-- App favicon -->
   <link rel="shortcut icon" href="../../static/images/brgyms-icon-white.png">

   <!-- third party css -->
   <link href="../../static/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css">
   <!-- third party css end -->

   <!-- App css -->
   <link href="../../static/css/icons.min.css" rel="stylesheet" type="text/css">
   <link href="../../static/css/app-i.min.css" rel="stylesheet" type="text/css" id="light-style">
   <link href="../../static/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">

   <!-- Datatables css -->
    <link href="../../static/css/vendor/select.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="../../static/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="../../static/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css" />

</head>

<body class="loading"
    data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <!-- Begin page -->
    <header>

        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">
    
                <!-- LOGO -->
                <a href="/index" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="../../static/images/ihealth-logo-with-text.png" alt="" height="40">
                    </span>
                </a>
    
                <!--- Sidemenu -->
                <ul class="side-nav">

                    <li class="side-nav-title side-nav-item">Menu</li>

                        <li class="side-nav-item">
                            <a href="/index" class="side-nav-link" >
                                <i class="uil-chart-pie"></i>
                                <span> Dashboard </span>
                            </a>
                        </li>

                    <li class="side-nav-item">
                        <a href="/schedule" class="side-nav-link">
                            <i class="uil-clipboard-alt"></i>
                            <span> Schedule </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarTasks" aria-expanded="false" aria-controls="sidebarEcommerce" class="side-nav-link">
                            <i class="uil-folder-plus"></i>
                            <span> Inventory </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarTasks">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="/adminvaccineinv">Vaccine</a>
                                </li>
                                <li>
                                    <a href="/adminmedicineinv">Medicine</a>
                                </li>
                                <li>
                                    <a href="/adminclinicinv">Clinic</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="side-nav-item">
                        <a href="/clinic" class="side-nav-link" >
                            <i class="uil-clipboard-alt"></i>
                            <span> Clinic Service </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarEcommerce" aria-expanded="false" aria-controls="sidebarEcommerce" class="side-nav-link">
                            <i class="mdi mdi-hospital mdi-hospital-box"></i>
                            <span> Appointment Services </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarEcommerce">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="/adminaptvax">Vaccination Service</a>
                                </li>
                                <li>
                                    <a href="/adminaptclinic">Clinic Service</a>
                                </li>
                                <li>
                                    <a href="/adminaptdental">Dental Service</a>
                                </li>
                                <li>
                                    <a href="/adminaptmedicine">Medicine Pickup</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="side-nav-item menuitem-active">
                        <a data-bs-toggle="collapse" href="#sidebarEmail" aria-expanded="false" aria-controls="sidebarEmail" class="side-nav-link">
                            <i class="mdi mdi-history"></i>
                            <span> Appointment History </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarEmail">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="/adminhaptvax">Vaccination Service</a>
                                </li>
                                <li>
                                    <a href="/adminhaptclinic">Clinic Service</a>
                                </li>
                                <li class="menuitem-active">
                                    <a class="badge-primary-lighten"  href="/adminhaptdental">Dental Service</a>
                                </li>
                                <li>
                                    <a href="/adminhaptmedicine">Medicine Pickup</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul><!-- Sidebar -left -->
                
            </div>
        </div>
                
            
            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

 <div class="wrapper">

        <div class="content-page">
            <div class="content">
                <!-- Topbar Start -->
                <div class="navbar-custom">
                    <ul class="list-unstyled topbar-menu float-end mb-0">
                        <li class="dropdown notification-list d-lg-none">
                            <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="dripicons-search noti-icon"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
                                <form class="p-3">
                                    <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                </form>
                            </div>
                        </li>

                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <span class="account-user-avatar">
                                    <img src="../../static/images/users/profile1.png" alt="user-image"
                                        class="rounded-circle">
                                </span>
                                <span>
                                    <span class="account-user-name">Juan Dela Cruz</span>
                                <span class="account-position">Staff</span>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                <!-- item-->
                                <div class=" dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Welcome !</h6>
                                </div>

                                <!-- item-->
                                <a href="/BITBo/login-admin.html" class="dropdown-item notify-item">
                                    <i class="mdi mdi-logout me-1"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>

                    </ul>
                    <button class="button-menu-mobile open-left">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </div>
                <!-- end Topbar -->

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h4 class="page-title">Dental Appointments History</h4>
                            </div>
                        </div>
                    <!-- end page title -->
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                                    <thead>
                                        <tr class="table-light">
                                            <th>Appointment ID</th>
                                            <th>Name</th>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                
                                
                                    <tbody>

                                        <tr>
                                            <td><a class="btn btn-light btn-rounded">DA-0001</a></td>
                                            <td>Tiger Nixon</td>
                                            <td>2011/04/25</td>
                                            <td>9:00 AM</td>
                                            <td>
                                                <a href="/adminvd"><button type="button" class="btn btn-rounded btn-warning">View</button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><a class="btn btn-light btn-rounded">DA-0001</a></td>
                                            <td>Tiger Nixon</td>
                                            <td>2011/04/25</td>
                                            <td>9:00 AM</td><td>
                                                <a href="/adminvd"><button type="button" class="btn btn-rounded btn-warning">View</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a class="btn btn-light btn-rounded">DA-0001</a></td>
                                            <td>Tiger Nixon</td>
                                            <td>2011/04/25</td>
                                            <td>9:00 AM</td>
                                            <td>
                                                <a href="/adminvd"><button type="button" class="btn btn-rounded btn-warning">View</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a class="btn btn-light btn-rounded">DA-0001</a></td>
                                            <td>Tiger Nixon</td>
                                            <td>2011/04/25</td>
                                            <td>9:00 AM</td>
                                            <td>
                                                <a href="adminh-view-dental.html"><button type="button" class="btn btn-rounded btn-warning">View</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>



                            </div>

                            <!-- end row of table content-->

                        </div>
                        <!-- container -->
                    </div>
                    <!-- content -->

                </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

       <!-- bundle -->
       <script src="../../static/js/vendor.min.js"></script>
       <script src="../../static/js/app.min.js"></script>
   
       <!-- third party js -->
       <script src="../../static/js/vendor/jquery.dataTables.min.js"></script>
       <script src="../../static/js/vendor/dataTables.bootstrap5.js"></script>
       <script src="../../static/js/vendor/dataTables.responsive.min.js"></script>
       <script src="../../static/js/vendor/responsive.bootstrap5.min.js"></script>
       <script src="../../static/js/vendor/dataTables.buttons.min.js"></script>
       <script src="../../static/js/vendor/buttons.bootstrap5.min.js"></script>
       <script src="../../static/js/vendor/buttons.php5.min.js"></script>
       <script src="../../static/js/vendor/buttons.flash.min.js"></script>
       <script src="../../static/js/vendor/buttons.html5.min.js"></script>
       <script src="../../static/js/vendor/buttons.print.min.js"></script>
       <script src="../../static/js/vendor/dataTables.keyTable.min.js"></script>
       <script src="../../static/js/vendor/dataTables.select.min.js"></script>
       <script src="../../static/js/vendor/apexcharts.min.js"></script>
       <script src="../../static/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
       <script src="../../static/js/vendor/jquery-jvectormap-world-mill-en.js"></script>
       <script src="../../static/js/vendor/dropzone.min.js"></script>
       <script src="../../static/js/vendor/list.min.js"></script>
       <!-- third party js ends -->
   
       <!-- demo app -->
       <script src="../../static/js/pages/demo.datatable-init.js"></script>
       <script src="../../static/js/pages/demo.toastr.js"></script>
       <script src="../../static/js/pages/demo.datatable-init.js"></script>
       <script src="../../static/js/pages/demo.toastr.js"></script>
       <script src="../../static/js/pages/list.js"></script>



        <!-- Datatable Init js -->
        <script src="assets/js/pages/demo.datatable-init.js"></script>

</body>

</html>