<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Clinic Services| iHealth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="Coderthemes" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="../../static/images/brgyms-icon-white.png">

    <!-- third party css -->
    <link href="../../static/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css">
    <!-- third party css end -->

    <!-- App css -->
    <link href="../../static/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/app-i.min.css" rel="stylesheet" type="text/css" id="light-style">
    <link href="../../static/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">

</head>

<body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <!-- Begin page -->
    <header>
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="leftside-menu">

            <!-- LOGO -->
            <a href="admin-index.php" class="logo text-center logo-light">
                <span class="logo-lg">
                    <img src="../../static/images/ihealth-logo-with-text.png" alt="" height="40">
                </span>
            </a>

            <ul class="side-nav">

                <li class="side-nav-title side-nav-item">Menu</li>

                <li class="side-nav-item">
                    <a href="index.php" class="side-nav-link">
                        <i class="uil-chart-pie"></i>
                        <span> Dashboard </span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="schedule.php" class="side-nav-link">
                        <i class="uil-clipboard-alt"></i>
                        <span> Schedule </span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="vaccination.php" class="side-nav-link">
                        <i class="uil-syringe"></i>
                        <span> Vaccination Service</span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="clinic.php" class="side-nav-link">

                        <i class="uil-clipboard-alt"></i>
                        <span> Clinic Service </span>
                    </a>
                </li>

                <li class="side-nav-item">

                    <a href="/medicine" class="side-nav-link">
                        <i class="uil-home-alt"></i>
                        <span>Medicine</span>
                </li>
            </ul>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
</header>