<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Clinic Service | iHealth Staff History</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description">
    <meta content="Coderthemes" name="author">
   <!-- App favicon -->
   <link rel="shortcut icon" href="../../static/images/brgyms-icon-white.png">

   <!-- third party css -->
   <link href="../../static/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css">
   <!-- third party css end -->

   <!-- App css -->
   <link href="../../static/css/icons.min.css" rel="stylesheet" type="text/css">
   <link href="../../static/css/app-i.min.css" rel="stylesheet" type="text/css" id="light-style">
   <link href="../../static/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">

   <!-- Datatables css -->
    <link href="../../static/css/vendor/select.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="../../static/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="../../static/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css" />

</head>

<body class="loading"
    data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <!-- Begin page -->
    <header>

        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">
    
               <!-- LOGO -->
                <a href="/index" class="logo text-center logo-light">
                <span class="logo-lg">
                    <img src="../../static/images/ihealth-logo-with-text.png" alt="" height="40">
                </span>
                <span class="logo-sm">
                    <img src="../../static/images/bitbo.png" alt="" height="32">
                </span>
                </a>
    
            <!--- Sidemenu -->
            <ul class="side-nav">

                <li class="side-nav-title side-nav-item">Menu</li>

                <li class="side-nav-item">
                    <a href="{{ url_for('indexstaff') }}" class="side-nav-link">
                        <i class="uil-chart-pie"></i>
                        <span> Dashboard </span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="{{ url_for('schedulestaff') }}" class="side-nav-link">
                        <i class="uil-clipboard-alt"></i>
                        <span> Schedule </span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="{{ url_for('vaccinationstaff') }}" class="side-nav-link">
                        <i class="uil-syringe"></i>
                        <span> Vaccination Service</span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="{{ url_for('clinicstaff') }}" class="side-nav-link">

                        <i class="uil-clipboard-alt"></i>
                        <span> Clinic Service </span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="/dentalstaff" class="side-nav-link">
                        <i class="mdi mdi-hospital"></i>
                        <span> Dental Service </span>
                    </a>
                </li>

                <li class="side-nav-item">

                    <a href="/medicinestaff" class="side-nav-link">
                        <i class="uil-home-alt"></i>
                        <span>Medicine Pick Up</span>
                    </a>
                </li>

                <li class="side-nav-item menuitem-active">
                    <a data-bs-toggle="collapse" href="#sidebarEmail" aria-expanded="false" aria-controls="sidebarEmail" class="side-nav-link">
                        <i class="mdi mdi-history"></i>
                        <span> Appointment History </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarEmail">
                        <ul class="side-nav-second-level">
                            <li>
                                <a href="/staffhaptvax">Vaccination Service</a>
                            </li>
                            <li class="badge-primary-lighten  menuitem-active">
                                <a href="/staffhaptclinic">Clinic Service</a>
                            </li>
                            <li>
                                <a href="/staffhaptdental">Dental Service</a>
                            </li>
                            <li>
                                <a href="/staffhaptmedicine">Medicine Pickup</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>
</ul>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->
    </header>

 <div class="wrapper">

        <div class="content-page">
            <div class="content">
                <!-- Topbar Start -->
                <div class="navbar-custom">
                    <ul class="list-unstyled topbar-menu float-end mb-0">


                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <span class="account-user-avatar">
                                    <img src="../../static/images/users/profile1.png" alt="user-image"
                                        class="rounded-circle">
                                </span>
                                <span>
                                    <span class="account-user-name">Juan Dela Cruz</span>
                                <span class="account-position">Staff</span>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                <!-- item-->
                                <div class=" dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Welcome !</h6>
                                </div>

                                <!-- item-->
                                <a href="/BITBo/login-admin.html" class="dropdown-item notify-item">
                                    <i class="mdi mdi-logout me-1"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>

                    </ul>
                    <button class="button-menu-mobile open-left">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </div>
                <!-- end Topbar -->

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h4 class="page-title">Clinic Appointments History</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="table-hover" id="scroll-horizontal-preview">
                                    <table id="scroll-horizontal-datatable" style="overflow-x: auto;" class="table table-hover w-100 nowrap">

                                    <thead>
                                        <tr class="table-light">
                                            <th>Appointment ID</th>
                                            <th>Name</th>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                
                    
                                    <tbody>

                                        <tr>
                                            <td><a class="btn btn-light btn-rounded">CA-0001</a></td>
                                            <td>Tiger Nixon</td>
                                            <td>2011/04/25</td>
                                            <td>9:00 AM</td>
                                            <td>
                                                <a href="/staffhviewclinic"><button type="button" class="btn btn-rounded btn-warning">View</button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><a class="btn btn-light btn-rounded">CA-0001</a></td>
                                            <td>Tiger Nixon</td>
                                            <td>2011/04/25</td>
                                            <td>9:00 AM</td>
                                            <td>
                                                <a href="/staffhviewclinic"><button type="button" class="btn btn-rounded btn-warning">View</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a class="btn btn-light btn-rounded">CA-0001</a></td>
                                            <td>Tiger Nixon</td>
                                            <td>2011/04/25</td>
                                            <td>9:00 AM</td>
                                            <td>
                                                <a href="/staffhviewclinic"><button type="button" class="btn btn-rounded btn-warning">View</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a class="btn btn-light btn-rounded">CA-0001</a></td>
                                            <td>Tiger Nixon</td>
                                            <td>2011/04/25</td>
                                            <td>9:00 AM</td>
                                            <td>
                                                <a href="/staffhviewclinic"><button type="button" class="btn btn-rounded btn-warning">View</button>
                                            </td>
                                        </tr>
                                    </tbody>
                            </table>

                        </div>

                        <!-- end row of table content-->

                    </div>
                    <!-- container -->
                </div>
                <!-- content -->

            </div>

        
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

 
       <!-- bundle -->
       <script src="../../static/js/vendor.min.js"></script>
       <script src="../../static/js/app.min.js"></script>
   
       <!-- third party js -->
       <script src="../../static/js/vendor/jquery.dataTables.min.js"></script>
       <script src="../../static/js/vendor/dataTables.bootstrap5.js"></script>
       <script src="../../static/js/vendor/dataTables.responsive.min.js"></script>
       <script src="../../static/js/vendor/responsive.bootstrap5.min.js"></script>
       <script src="../../static/js/vendor/dataTables.buttons.min.js"></script>
       <script src="../../static/js/vendor/buttons.bootstrap5.min.js"></script>
       <script src="../../static/js/vendor/buttons.php5.min.js"></script>
       <script src="../../static/js/vendor/buttons.flash.min.js"></script>
       <script src="../../static/js/vendor/buttons.html5.min.js"></script>
       <script src="../../static/js/vendor/buttons.print.min.js"></script>
       <script src="../../static/js/vendor/dataTables.keyTable.min.js"></script>
       <script src="../../static/js/vendor/dataTables.select.min.js"></script>
       <script src="../../static/js/vendor/apexcharts.min.js"></script>
       <script src="../../static/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
       <script src="../../static/js/vendor/jquery-jvectormap-world-mill-en.js"></script>
       <script src="../../static/js/vendor/dropzone.min.js"></script>
       <script src="../../static/js/vendor/list.min.js"></script>
       <!-- third party js ends -->
   
       <!-- demo app -->
       <script src="../../static/js/pages/demo.datatable-init.js"></script>
       <script src="../../static/js/pages/demo.toastr.js"></script>
       <script src="../../static/js/pages/demo.datatable-init.js"></script>
       <script src="../../static/js/pages/demo.toastr.js"></script>
       <script src="../../static/js/pages/list.js"></script>



        <!-- Datatable Init js -->
        <script src="assets/js/pages/demo.datatable-init.js"></script>

</body>

</html>