anyio==3.5.0
asgiref==3.5.2
autopep8==1.6.0
bcrypt==3.2.0
cffi==1.15.0
click==8.0.3
colorama==0.4.4
cryptography==36.0.1
distlib==0.3.6
Django==4.1
ecdsa==0.17.0
fastapi==0.73.0
filelock==3.8.0
Flask==2.2.2
Flask-Login==0.6.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
h11==0.13.0
httptools==0.3.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
mysql-connector-python==8.0.28
paramiko==2.11.0
passlib==1.7.4
platformdirs==2.5.2
protobuf==3.19.4
psycopg2==2.9.3
psycopg2-binary==2.9.3
pyasn1==0.4.8
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.0
PyNaCl==1.5.0
python-dotenv==0.19.2
python-jose==3.3.0
python-multipart==0.0.5
PyYAML==6.0
rsa==4.8
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.31
sqlparse==0.4.2
sshtunnel==0.4.0
starlette==0.17.1
toml==0.10.2
typing_extensions==4.1.1
tzdata==2022.2
uvicorn==0.17.4
virtualenv==20.16.4
watchgod==0.7
websockets==10.1
Werkzeug==2.2.2
